<?xml version="1.0" encoding="utf-8"?>
<jnlp
    spec="1.0+" 
    codebase="http://geneaquilt.gforge.inria.fr/jnlp"
    href="$outputFile">
  <information>
    <title>GeneaQuilt</title>
    <vendor>INRIA &amp; North Carolina State University</vendor>
    <homepage href="http://www.aviz.fr/geneaquilts"/>
    <description>Genealogy Quilt (GeneaQuilt)</description> 
    <description kind="short">geneaquilt</description>
    <offline-allowed/>
  </information>
  <security>
    <all-permissions/>
  </security>
  <resources>
    <j2se version="1.5+"/>
    <property name="jnlp.versionEnabled" value="true"/>
    $dependencies
  </resources>
  <application-desc main-class="geneaquilt.GeneaQuilt"/>
</jnlp>
